NEXTAUTH_SECRET=
ANTHROPIC_API_KEY=
NEXTAUTH_URL=https://budget.venstein.ch

DATABASE_URL=file:/data/budget.db

ERIK_NAME=Erik
ERIK_EMAIL=erik@budget.local
ERIK_PASSWORD=

PARTNER_NAME=Céline
PARTNER_EMAIL=celine.hauenstein@hotmail.ch
PARTNER_PASSWORD=
